{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script>
//$("#eml").on("click", function (event) {
//	$.ajax({
//		url: 'index.php?route=common/footer/emails',
//		type: 'post',
//		dataType: 'json',
//		data: $("#form-email").serialize(),
//		beforeSend: function() {
//			$('#beml').button('loading');
//		},
//		complete: function() {
//			$('#eml').button('reset');
//		},
//		success: function(json) {
//			$('.alert-dismissible').remove();
//
//			if (json['error']) {
//				$('footer').before('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
//			}
//
//			if (json['success']) {
//				$('footer').before('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');
//			}
//		}
//	});
//});
</script>
</body></html>